.border{
    border: 2px solid red;
    /* margin: 3px; */
}

.flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color:white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Black color for the thumb */
  }
  
  /* For Firefox */
  html {
    scrollbar-color: #000000 #f5f5f5; /* Black color for the thumb and track */
  }
  
  /* For Microsoft Edge */
  body {
    scrollbar-color: #000000 #f5f5f5; /* Black color for the thumb and track */
  }
  